* {
    font-family: Roboto;
}

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    padding: 24px 200px 30px 200px
}

.upper-header {
    /* margin: 30px 0px 0px 0px; */
    display:flex;
    justify-content: space-between;
    align-items: baseline;

}

.header-list {
    padding: 0px 0px 0px 0px;  
    display:flex;
    gap: 16px;
}

.lower-header{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.page-title h1 {
    font-size: 68px;
    font-weight: 900;
}

.page-title p {
    width: 500px;
    font-size: 18px;
}

h1 {
    margin: 4px 0px 0px 0px;
} 

#emil {
    width: 500px;
    margin: 0px 10px 0px 20px
}

body {
    height: 100vh;   
    margin: 0px 0px 0px 0px;
    /* max-height: max-content; */
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:stretch;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.sign-up-button {
    width: 100px;
    height: 32px;
    /* padding: 0px 10px 0px 10px; */
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border-style: none;
    font-weight: 900;
}

.main-content {
    align-self: center;
}

.info-cards h2 {
    text-align: center;
    font-size:36px;
    color: #1F2937;
    font-weight: 900;

}

.cards {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.card {
    align-content: center;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.card p {
    text-align: center;
    width: 150px; 
}

.box {
    width: 140px;
    height: 200px;
    border-radius: 10px;
    border-color: #3882F6;
    border-style:solid;
}

.quote {
    font-family: 'Roboto';
    background-color: #E7E5EB;
    font-style: italic;
    color:#1F2937;
    font-size: 36Px;
    padding: 100px 300px 100px 300px;
}

#quotee {
    text-align: end;
}

.call-to-action{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-space {
    flex: 1 1 auto;
}

.blue-block {
    flex: 4 1 auto;
    background-color: #3882F6;
    border-radius: 8px;
    color:#E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
}


.COT-text {
    display: flex;
    flex-direction: column;
    
}
.COT-text h4 {
    height: 2px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.blue-block .sign-up-button {
    border-style: solid;
    /* background-color: red; */
    border-color: white;
    border-radius: 6px;
}